.card {
    max-width: 20rem; 
}

.text-blue {
    color: blue;
}

.card-text {
    height: 3rem;
    display: block !important;
    overflow: hidden;
}

.card-footer {
    width: 100%;
}

.card-img-top {
    height: 10rem;
}